<link rel="stylesheet" href="/css/footer.css">
<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-logo">
                <img src="/img/logo.png" alt="KuVoDesign">
                <span>KuVoDesign</span>
            </div>
            <p>Subscribe to our newsletter and never miss our latest news</p>
            <div class="newsletter">
                <input type="email" placeholder="Enter your email address">
                <button type="submit">➜</button>
            </div>
            <p class="terms">
                In creating an account, you agree to our 
                <a href="#">Terms of Service</a> and 
                <a href="#">Privacy and Cookies Policy</a>.
            </p>
        </div>

        <div class="footer-links">
            <div class="footer-column">
                <h4>Pages</h4>
                <ul>
                    <li><a href="#">Home V1</a></li>
                    <li><a href="#">Home V2</a></li>
                    <li><a href="#">Home V3</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>&nbsp;</h4>
                <ul>
                    <li><a href="#">About V1</a></li>
                    <li><a href="#">About V2</a></li>
                    <li><a href="#">About V3</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>&nbsp;</h4>
                <ul>
                    <li><a href="#">Service V1</a></li>
                    <li><a href="#">Service V2</a></li>
                    <li><a href="#">Service V3</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>&nbsp;</h4>
                <ul>
                    <li><a href="#">Project V1</a></li>
                    <li><a href="#">Project V2</a></li>
                    <li><a href="#">Project V3</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>&nbsp;</h4>
                <ul>
                    <li><a href="#">Contact V1</a></li>
                    <li><a href="#">Contact V2</a></li>
                    <li><a href="#">Contact V3</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2024 Copyright. All rights reserved.</p>
        <div class="legal-links">
            <a href="#">Legal</a>
            <a href="#">Privacy</a>
            <a href="#">Warranty</a>
        </div>
    </div>
</footer>
